@import url('https://fonts.googleapis.com/css2?family=Lovers+Quarrel&family=Nunito:wght@200;400&display=swap');
:root {
  /* dark shades of primary color*/
  --bg: #00b7e7;
  --err: #f00;
  --color-card-dark: #353535;
  --color-card-light: #ffffffd0;
  --copied: #ff00bf;
  --outline: #555;
  --text: #1e1e1e;
  --title: rgb(19, 18, 87);
}
*,
::after,
::before {
  margin: 0;
  padding: 0;
}

html {
  box-sizing: border-box;
  font-family: 'Nunito', sans-serif;
  font-size: 62.5%;
}

body {
  background-color: var(--bg);
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  text-align: center;
}

/* section */

input {
  border-color: transparent;
  padding: 0.5rem 1rem;
  font-size: 1.2rem;
  width: auto;
  height: 35px;
  margin-left: 1rem;
  display: inline-block;
  margin-left: 10px;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.9);
  backdrop-filter: blur(30px);
  color: var(--text);
  font-size: 14px;
}
input:focus {
  outline: 2px solid var(--title);
}
input.error {
  outline: 3px solid var(--err);
}
input.percent {
  width: 75px;
}
.label {
  font-size: 2.5rem;
  margin-left: 1rem;
}

.title {
  padding: 1rem;
  font-size: 8rem;
  font-weight: 100;
  font-family: 'Lovers Quarrel', cursive;
  color: var(--title);
}
.logo {
  width: 8.5rem;
}
.colors {
  width: 80rem;
  height: auto;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
}
.color {
  height: 6rem;
  padding: 1rem 2rem;
  cursor: pointer;
  font-size: 1.7rem;
  font-weight: 300;
  text-transform: uppercase;
}
.percent-value {
  margin-bottom: 0;
  color: var(--text);
}
.color-value {
  color: var(--text);
  margin-bottom: 0;
}
.color-light .color-value {
  color: var(--color-card-light);
}
.color-light .percent-value {
  color: var(--color-card-light);
}

.glass-panel {
  color: #fff;
  margin: 5px auto;
  border: 1px solid rgba(255, 255, 255, 0.1);
  width: 100%;
  border-radius: 15px;
  padding: 2px;
  backdrop-filter: blur(10px);
  max-width: 77%;
}

.glass-panel2 {
  color: #fff;
  margin: 10px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 32px;
  backdrop-filter: blur(10px);
}
.glass-panel3 {
  height: auto;
  width: auto;
  color: #fff;
  margin: 10px;
  display: flex;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  padding: 32px;
  backdrop-filter: blur(10px);
}

.glass-button {
  display: inline-block;
  padding: 15px 34px;
  border: 0;
  margin-right: 10px;
  text-decoration: none;
  border-radius: 15px;
  background-color: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(30px);
  color: rgba(255, 255, 255, 0.99);
  font-size: 14px;
  letter-spacing: 2px;
  cursor: pointer;
  text-transform: uppercase;
}

.glass-button:hover {
  background-color: rgba(255, 255, 255, 0.2);
}

.modal-window {
  height: 200px;
  width: 100px;
}

.copied {
  color: var(--copied);
  font-size: 2.5rem;
  margin: 1rem;
}

.icon {
  width: 3rem;
  height: auto;
}

.flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

@media only screen and (max-width: 1366px) {
  .title {
    font-size: 7rem;
  }
  .logo {
    width: 7.5rem;
  }
}

@media only screen and (max-width: 828px) {
  .title {
    font-size: 6rem;
  }
  .logo {
    width: 6.5rem;
  }
  .glass-button {
    padding: 10px 24px;
    margin-right: 8px;
  }
  input {
    border-color: transparent;
    padding: 0.5rem 1rem;
    font-size: 1.2rem;
    width: auto;
    height: 25px;
    margin-left: 1rem;
    margin-left: 10px;

    font-size: 14px;
  }
}

@media only screen and (max-width: 735px) {
  .title {
    font-size: 5rem;
  }
  .logo {
    width: 5.5rem;
  }
  input {
    width: 60px;

    font-size: 14px;
  }
  input.percent {
    width: 33px;
  }
}

@media only screen and (max-width: 650px) {
  .title {
    font-size: 3rem;
  }
  .logo {
    width: 6.5rem;
  }
  .flex {
    flex-direction: column;
  }
  input {
    width: 60px;
    font-size: 14px;
    margin: 1rem;
  }
  input.percent {
    width: 33px;
    margin: 1rem;
  }
  .glass-button {
    margin: 1rem;
  }
  .phone {
    display: flex;
    flex-direction: column-reverse;
    justify-content: center;
    align-items: center;
  }
  .label {
    /* display: none; */
  }
  form input:nth-of-type(1) {
    order: 2;
  }
}
